<div class="eqLogic-widget eqLogic noResize sony" style="width: 240px;background-color: #background_color#; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
    <span class="statusCmd" style="position : absolute;left : 5px;bottom : 5px; width : 30px;z-index: 1030;"></span>
    <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 5px;" title="Rafraîchir"></i>
    <center><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></center>

    <span class=""  >#state#</span>
    <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>

    <div class="row headButtons">
        <div class="col-xs-4">
            <span class="cmd cmd-widget cursor" data-cmd_id="#Input_id#"><i class="fa fa-television"></i></span>
        </div>
        <div class="col-xs-4">
            <span class="cmd cmd-widget cursor" data-cmd_id="#SyncMenu_id#"><i class="fa fa-refresh"></i></span>
        </div>
        <div class="col-xs-4">
            <span class="cmd cmd-widget cursor" data-cmd_id="#TvPower_id#"><i class="fa fa-power-off"></i></span>
        </div>
    </div>
    <br>
    <div class="numericPad" style="text-align: center">
        <div class="row " style="text-align: center;align-content: center">
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" style="align-content: center" data-cmd_id="#Num1_id#">1</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num2_id#">2</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num3_id#">3</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num4_id#">4</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num5_id#">5</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num6_id#">6</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num7_id#">7</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num8_id#">8</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num9_id#">9</button>
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Exit_id#">EXIT</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Num0_id#">0</button>
            </div>
            <div class="col-xs-3">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Teletext_id#">TXT</button>
            </div>
        </div>
    </div>
    <div class="controlPad">
        <div class="row">
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Tv_id#">TV</button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#ActionMenu_id#">ACTION</button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#GGuide_id#">GUIDE</button>
            </div>
        </div>
    </div>

    <div class="controlPad">
        <div class="row">
            <div class="col-xs-4 ">
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Up_id#"><i class="fa fa-arrow-up"></i> </button>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
                <button class="cmd cmd-widget cursor btn pull-right" data-cmd_id="#Left_id#"><i class="fa fa-arrow-left"></i> </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn " data-cmd_id="#Confirm_id#">OK </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Right_id#"><i class="fa fa-arrow-right"></i> </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn " data-cmd_id="#Down_id#"><i class="fa fa-arrow-down"></i> </button>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Return_id#">BACK</button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#PopUpMenu_id#">DISCOVER</button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Home_id#">HOME</button>
            </div>
        </div>
    </div>
    <div class="volumePad">
        <div class="row">
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#VolumeUp_id#"><i class="fa fa-plus"></i> </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Jump_id#"><i class="fa fa-refresh"></i> </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#ChannelUp_id#"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#VolumeDown_id#"><i class="fa fa-minus"></i> </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#Mute_id#"><i class="fa fa-volume-off"></i> </button>
            </div>
            <div class="col-xs-4">
                <button class="cmd cmd-widget cursor btn" data-cmd_id="#ChannelDown_id#"><i class="fa fa-minus"></i></button>
            </div>
        </div>
    </div>


    <script>
        var container = $('.eqLogic[data-eqLogic_id=#id#]');

        $('.eqLogic[data-eqLogic_id=#id#] .refresh').on('click', function () {
            jeedom.cmd.execute({id: '#refresh_id#'});
        });
        $('#statekarotz_#id#').on('click', function() {
            if('#state#' == 'awake'){
                jeedom.cmd.execute({id: '#coucher_id#'});
            }else{
                jeedom.cmd.execute({id: '#debout_id#'});
            }
        });


        $('.eqLogic[data-eqLogic_id=#id#] .cmd').on('click', function() {
            jeedom.cmd.execute({id: $(this).data('cmd_id')});
        });
    </script>

</div>

